# Ignore ruby versions configs
.rvmrc
.ruby-gemset
.ruby-version

# Ignore bundler's local bundle and config
.bundle

# Ignore IDEs and editors settings
.idea/
*.sublime-workspace
*.sublime-project
.vscode

# Ignore OS X temporary
*~
.DS_Store

# On save plugin
.on-save.json

# Helm override
.override*.yml
.override*.yaml

