[user]
  name = Sergey Ponomarev
  email = me@sergey-ponomarev.ru
  # signingkey = E450C9308249D501!
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  sw = switch
  re = restore
  amend = commit --amend '-S'
  fixup = commit --fixup
  pushf = push --force-with-lease
  staged = diff --staged
  hist = log --pretty=format:\"%h %ad | %s%C(green)%d%C(reset) [%an]\" --graph --date=short
  last = show HEAD
  recent = log --pretty=format:\"%h %ad | %s%C(green)%d%C(reset) [%an]\" --date=short -n 10
  graph = log --graph --color
  fap = fetch --all --prune
  deploy = push production master
[branch]
  autoSetupMerge = always
  autoSetupRebase = always
[color]
  ui = true
[commit]
#  gpgsign = true
[core]
  autocrlf = input
  excludesfile = ~/.gitignore
  pager = less -FXRK
[diff]
  compactionHeuristic = true
  renames = copies
[pull]
  rebase = true
[push]
  default = simple
[rebase]
  autosquash = true
  autoStash = true

[init]
	defaultBranch = main
